<script type="text/javascript">

  $(document).ready(function(){

    $("#revealbutton").click(function(){

      var record_count=0;
      var rec_id=18922;
       //jquery call back function to get one record in each request
        var callbackfn=setInterval(function() {

          $.get("get_mongo_data/fetch/"+ rec_id.toString(), function (data) {
            for (var j = 0; j < 10; j++){

              if(record_count%20===0){
                $("#cod").html("");

              }
              $("#cor").html(record_count.toString());
              if (j % 2 == 0) {
                var table_row = $("<tr id='"+record_count+"' class='even'>");
              }
              else {
                var table_row = $("<tr id='"+record_count+"'>");
              }
              table_row.append($("<td>" + data[j].cid + "</td>"));
              table_row.append($("<td>" + data[j].year + "</td>"));
              table_row.append($("<td>" + data[j].ethnicity + "</td>"));
              table_row.append($("<td>" + data[j].count + "</td>"));
              table_row.append($("<td>" + data[j].sex + "</td>"));
              table_row.append($("<td>" + data[j].causeofdeath + "</td>"));
              table_row.append($("<td>" + data[j].percent + "</td>"));
              table_row.append($("</tr>"));
              $("#cod").append(table_row);
              $("#cod tr#"+record_count).hide();
              $("#cod tr#"+record_count).fadeIn("slow");
              record_count = record_count + 1;
              rec_id=rec_id+1;
              if (record_count==100){
                clearInterval(callbackfn);
              }
            }
          });
        }, 500);
      });
  });

</script>
<div align="center">
  <h1>Project 3</h1>
  <p>Displays data from a MongoDb database in heroku server</p>

  <input type="button" id="revealbutton" value="Show the result" style="color:green" name="button"/>
  <span style="color:darkgreen">Count of records: <label id="cor"></label></span>
  <table cellspacing='0' id="dtable">
    <thead>
    <tr>
      <th>ID</th>
      <th>YEAR</th>
      <th>ETHNICITY</th>
      <th>COUNT</th>
<th>SEX</th>
<th>CAUSE OF DEATH</th>
<th>PERCENT</th>
    </tr>
    </thead>
    <tbody id="cod">
    </tbody>

  </table>

  </div>
